h1 {position: absolute;
    width: 400px;
    height: 20px;
    left: 250px;
    top: 190px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 133% */
    color: #154a4d;}

h2 {position: absolute;
    width: 450px;
    height: 20px;
    left: 250px;
    top: 305px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 133% */
    color: #154a4d;}

h3 {position: absolute;
    width: 400px;
    height: 20px;
    left: 250px;
    top: 340px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 200% */
    color: #154a4d;}

h4 {position: absolute;
    width: 400px;
    height: 20px;
    left: 250px;
    top: 600px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 200% */
    color: #154a4d;}

h5 {position: absolute;
    width: 550px;
    height: 50px;
    left: 250px;
    top: 730px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 200% */ 
    color: #154a4d;}

h6 {position: absolute;
    width: 550px;
    height: 50px;
    left: 250px;
    top: 800px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 200% */ 
    color: #154a4d;}

Footer {position: absolute;
    width: 500px;
    height: 150px;
    left: 250px;
    top: 1020px;}
     
header {position: absolute;

width: 1300px;
height: 150px;
left: 5px;
top: 0px;

background: #95A7A8;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);}

aside {box-sizing: border-box;

position: absolute;
width: 300px;
height: 1300px;
left: 1305px;
top: 0px;

background: #DAE0E0;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);}

img {position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 200px/2 + 1px);
    top: calc(50% - 550px/2 - 350px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;}

article {
    border-style: solid;
    border-width: 645px;
    border-color: rgb(167, 205, 255);
    border-radius: 20px 20px 20px 20px;    
  }

menu {
    position: absolute;
    width: 100px;
    height: 90px;
    left: 5px;
    top: 137px;
    background-color: #49635e;

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 6px;
    /* identical to box height, or 133% */
    color: #e6f1f1;

    border-style: solid;
    border-width: 2px;
    border-left-width:2px;
    border-right-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;     
}